<br>
<div *ngIf="edit">
    <legend>שינוי סיסמא</legend>
    <label for=crntpwd>סיסמא נוכחית: </label>
    <input type="password" id=crntpwd minlength="3" [(ngModel)]="crntPwd" [class.clsRed]="crntPwd==''">
    <br/>
    <label for=nwpwd>סיסמא מבוקשת: </label>
    <input type="password" id=nwpwd minlength="3" [(ngModel)]="nwPwd" [class.clsRed]="nwPwd==''">
    <br/>
    <label for=nw2pwd>וידוא סיסמא מבוקשת: </label>
    <input type="password" id=nw2pwd minlength="3" [(ngModel)]="nw2Pwd" [class.clsRed]="nw2Pwd==''">
    <br/><br/>
    <button type=button (click)="updIt()">שמור שינו סיסמא</button>
    <br/>
</div>

<div *ngIf="!edit">
    <h1>שינוי סיסמא</h1>
    <p> סיסמא נוכחית: {{crntPwd}}<br>
        סיסמא מבוקשת: {{nwPwd}}<br>
        וידוא סיסמא מבוקשת: {{nw2Pwd}}<br>
    </p>
    <button type=button (click)="changeDetails()">ערוך</button><br>
    <a *ngIf="jobDone" routerLink="/AccountLogin">שינוי הסיסמא הצליח הקש כאן לכניסה מחדש למערכת</a>
</div>