div{text-align: center; direction: rtl;}
h1 {font-size: 26px; color:blueviolet;direction: rtl;text-align: center;}
legend { direction: rtl; text-align:center; align-items: center;font-size: 26px; color:blueviolet;}
:invalid{background-color: red;}
:valid{background-color: green;}
.clsRed{background-color: red;}